doctype html
html(lang='en')
  head
    include partials/head
    include partials/head_custom
  body
    .container
      h1
        a(href="/")
          img(class='navbar-brand' height="70px" width="238px" src='assets/logo.png')
      hr
      #admin
    include partials/footer
    script(src='app/common.js')
    script(src='app/admin.js')
